/* @font-face {
    font-family: Spiegel;
    font-weight: 50;
    src: url(../fonts/Fonts_Package/Spiegel-OTF/Spiegel-Regular.otf) format(truetype);
}

body {
    font-family: Spiegel;
} */

/* navbar */

/* #navbar {
    display: flex;
}

#navbar ul {
    list-style-type: none;
}

#navbar a {
    color: black;
    text-decoration: none;
    display: flex;
}

#mainDiv {
    display: flex;
} */